body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.47;
  letter-spacing: -0.2px;
  color: #545454;
  background: #e5e5e5;
}

.form {
  background: #ffffff;
  border-radius: 6px;
  margin: 50px auto;
  width: 570px;
  padding-top: 35px;
  padding-bottom: 16px;
  padding-left: 34px;
  padding-right: 34px;
}

.form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  color: #1c1c1c;
  margin-bottom: 20px;
}

.form__name-wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
/* ??????????????????
.form__label-mail {
  width: 500px;
} */

.input-radio {
  /* opacity: 0; */
  margin-right: 10px;
}

.radio-wrapper {
  position: relative;
}

.custom-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;

  border-color: #e5e5e5;
  background-color: red;
}

.input {
  width: 245px;
  height: 38px;
  padding: 4px 10px;
  margin-top: 7px;
  color: #545454;
  font-family: "Inter";
  border: 1px solid #a5a3a3;
  border-radius: 4px;
}

.input:nth-child(3) {
  width: 100%;
}

.input:hover,
.input:focus,
.input:active {
  border: 1px solid #38a3eb;
}

.form__tips {
  margin-top: 7px;
  margin-bottom: 20px;
  letter-spacing: -0.1px;
  color: #cfcbcb;
}

.male-label {
  margin-right: 20px;
}

.male-label-custom {
  margin-left: 20px;
}

.select-wrapper {
  position: relative;
}

.adress-wrapper {
  display: flex;
  gap: 10px;
}

.custom-select {
  position: absolute;
  top: 60px;
  left: 220px;
  background-color: #fff;
  width: 20px;
  height: 20px;
}

.form__button {
  width: 500px;
  background-color: #2e68e6;
  border-radius: 4px;
  color: #e5e5e5;
  padding: 8px;
  text-align: center;
  margin-top: 20px;
}

.form__tips-bottom {
  display: block;
  margin: 0 auto;
  margin-top: 22px;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: -0.1px;
  color: #cfcbcb;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  border-bottom: 1px solid #cfcbcb;
}

.form__link {
  color: #007bff;
}

.form__text {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.form__text--blue {
  color: #007bff;
}
